h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: $heading-font;
  color: white;
  font-weight: 700;
}
h1,
.h1 {
  font-size: 80px;
  line-height: 90px;
  margin-bottom: 20px;
  @include max(1400px) { 
    font-size: 70px;
    line-height: 80px;
  }
  @include max(1199px) { 
    font-size: 60px;
    line-height: 75px;
  }
  @include max(991px) { 
    font-size: 48px;
    line-height: 65px;
  }
  @include max(767px) { 
    font-size: 36px;
    line-height: 48px;
  }
}
h2,
.h2 {
  font-size: 42px;
  line-height: 48px;
  @include max(767px) { 
    font-size: 34px;
    line-height: 40px;
  }
}

// @each $cheadingfont in $headingfontSize {
//   $i: index($headingfontSize, $cheadingfont);
//   h#{$i},
//   .text-h#{$i} {
//     font-size: $cheadingfont;
//     line-height: nth($headingLineheight, $i);
//   }
// }


@for $i from 10 through 40 {
  .f-size-#{$i} {
    font-size: $i * 1px !important;
  }
}

@for $i from 10 through 40 {
  .line-height-#{$i} {
    line-height: $i * 1px !important;
  }
}

.font-bold{
  font-weight: 700;
}
.black{
  font-weight: 900;
}
.font-medium{
  font-weight: 500;
}
.font-normal{
  font-weight: 400;
}
.font-semibold{
  font-weight: 600;
}


// @each $currentfont in $bodyfontvariation {
//   $i: index($bodyfontvariation, $currentfont);
//   .body-font-#{$i} {
//     font-size: $currentfont;
//     line-height: nth($lineheightvariation, $i);
//   }
// }
