
// blog top
.nexto-blog-top-wrap {
  padding-bottom: 100px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  @include max(767px) {
    padding-bottom: 80px;
  }
  .nexto-blog-wrap{
    position: relative;
    background: transparent;
    backdrop-filter: inherit;
    &:hover .nexto-blog-thumb img{
      transform: scale(1) rotate(0deg);
    }
  }
  .nexto-blog-thumb {
    height: 550px;
    overflow: inherit;
    position: relative;
    margin-left: 34%;
    @include max(991px) {
      margin: 0;
      height: auto;
    }
}
  .nexto-blog-content {
    position: absolute;
    z-index: 9;
    top: 50%;
    background: rgba(90, 75, 124, 0.2);
    backdrop-filter: blur(400px);
    border-radius: 10px;
    transform: translateY(-50%);
    border: 1px solid #fff;
    width: 642px;
    @include max(991px) {
      position: inherit;
      transform: inherit;
      width: 100%;
      border: none;
      border-radius: 0;
    }
  }
}
.nexto-blog-shape3 {
  position: absolute;
  top: 4%;
  right: 0;
  z-index: -1;
}

// blog filter section2
.nexto-blog-section{
  z-index: 0;
  position: relative;
  &.blog-dark-version{
    background-color: var(--gray-800);
  }
}
.nexto-single-blog-section{
  &.light-version{
    padding-bottom: 120px;
    @include max(991px) {
      padding-bottom: 100px;
    }
    @include max(767px) {
      padding-bottom: 80px;
    }
  }
}
.nexto-blog-filtering{
  &.dark-version{
    padding-top: 120px;
    @include max(991px) {
      padding-top: 95px;
    }
    @include max(767px) {
      padding-top: 75px;
    }
  }
  .nexto-blog-wrap{
    margin-bottom: 24px;
    margin-left: 24px;
  }
  .nexto-portfolio-wrap {
      margin-left: -24px;
  }
  .nexto-portfolio-menu{
    margin-bottom: 0;
    @include max(1199px) {
      margin-top: 30px;
      ul{
        li{
          flex: 0 0 19%;
        }
      }
    }
    @include max(991px) {
      ul{
        li{
          flex: 0 0 23%;
        }
      }
    }
    @include max(767px) {
      ul{
        li{
          flex: 0 0 48.5%;
        }
      }
    }
    @include max(420px) {
      ul{
        li{
          flex: 0 0 100%;
        }
      }
    }
    
  }
  .nexto-section-title-wrap{
    align-items: center;
    @include max(1199px) {
      display: block;
      margin-bottom: 60px;
    }
    @include max(767px) {
      display: block;
      margin-bottom: 40px;
    }
  }
  .nexto-default-content.content-sm {
    h2{
      margin: 0;
    }
  }
  .nexto-card-wrap {
    margin-bottom: 24px;
    margin-left: 24px;
  }
}

// blog sidebar dark
.nexto-blog-sidebar{
  @include max(991px) {
    margin-top: 40px;
  }
  .nexto-newsletter{
    @include max(991px) {
      max-width: 100%;
    }
  }
}
.nexto-blog-sidebar-item {
  background: rgba(90, 75, 124, 0.2);
  backdrop-filter: blur(400px);
  border-radius: 10px;
  border: 1px solid #fff;
  padding: 30px;
  margin-bottom: 24px;
  h4{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
    font-family: $body-font;
  }
  &:last-child{
    margin-bottom: 0;
  }
}

.next-category{
  ul{
    li{
      margin-bottom: 15px;
      &:last-child{
        margin-bottom: 0;
      }
      a{
        font-size: 18px;
        line-height: 30px;
        opacity: 0.8;
        color: var(--gray-10);
        transition: all 0.4s;
        &:hover{
          color: #0080ff;
        }
      }
    }
  }
}

.next-blog-post {
  &-wrap{
    margin-bottom: 20px;
    &:last-child{
      margin-bottom: 0;
    }
  }
  &-thumb{
    height: 200px;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 10px;
    @include max(991px) {
      height: auto;
    }
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center top;
    }
  }
  &-data{
    p{
      color: #FFFFFF;
      opacity: 0.4;
      margin-bottom: 10px;
    }
    h5{
      font-weight: 600;
      font-size: 18px;
      line-height: 30px;
      font-family: $body-font;
      margin: 0;
    }
  }
  
}

.next-tags{
  ul{
    display: flex;
    flex-wrap: wrap;
    li{
      a{
        font-size: 18px;
        color: #fff;
        opacity: .8;
        margin: 6px;
        padding: 14px 31px;
        display: block;
        border-radius: 10px;
        transition: all 0.4s;
        background-color: var(--gray-900);
        &:hover{
          background-color: #0080ff;
        }
      }
    }
  }
}

// blog light versions

.blog-light-version{
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) -51.59%, #EEE6D0 119.2%);
  .nexto-breadcrumbs-data{
    h1, 
    p{
      color: var(--gray-800);
    }
    h1{
      font-family: $another-font;
    }
  }
  .nexto-newsletter.nexto-search {
    input{
      border: 1px solid #D9D9D9!important;
      border-radius: 3px;
      &:focus{
        border: 1px solid var(--danger-500)!important;
      }
    }
  }
  #nexto-submit-btn{
    border-radius: 3px;
    color: var(--gray-800);
    background: var(--danger-500);
  }
  .nexto-blog-top-wrap{
    border-bottom: 1px solid rgba(19, 17, 26, 0.1);
    .nexto-blog{
      &-content{
        h3{
          font-size: 42px;
          line-height: 53px;
          @include max(991px) {
            font-size: 36px;
            line-height: 42px;
          }
          @include max(767px) {
            font-size: 28px;
            line-height: 36px;
          }
        }
      }
    }
  }
  .nexto-blog{
    &-content {
      backdrop-filter: inherit;
      background: #FFFFFF;
      border: none;
      box-shadow: 0px 8px 80px rgb(19 17 26 / 6%);
      border-radius: 3px;
      p{
        color: var(--gray-800);
        opacity: 0.8;
        }
    }
    &-date{
      ul{
        li{
          a{
            color: var(--gray-800);
          }
          
        }
      }
    }
    &-title{
      h3{
        color: var(--gray-800);
        font-family: $another-font;
        transition: all 0.4s;
        &:hover{
          color: var(--danger-500);
        }
      }
    }
  }
  .nexto-blog-user-data {
    span{
      color: var(--gray-800);
    }
  }
  .nexto-default-content{
    h2{
      color: var(--gray-800);
      font-family: $another-font;
    }
  }
  .nexto-portfolio-menu {
    ul{
      li{
        background: none;
        &.active span{
          color: var(--gray-800);
          background-color: var(--danger-500);
          border: 1px solid var(--danger-500);
        }
        span{
          color: var(--gray-800);
          background: #FFFFFF;
          border: 1px solid #D9D9D9;
          border-radius: 3px;
        }
      }
    }
  }
// blog light
.nexto-blog-wrap2 .nexto-blog-content {
  background-color: transparent!important;
}


// blog light sidebar
.nexto-blog-sidebar-item {
  backdrop-filter: inherit;
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  border-radius: 3px;
}
.nexto-blog-sidebar-item {
  h4{
    color: var(--gray-800);
  }
}
.next-category {
  ul{
    li{
      a{
        color: rgba(19, 17, 26, 0.8);
        &:hover{
          color: var(--danger-500);
          opacity: 1;
        }
      }
    }
  }
}
.next-blog-post-data {
  p, h5{
    color: var(--gray-800);
  }
}
.next-tags {
  ul{
    li{
      a{
        background: rgba(38, 36, 44, 0.1);
        border-radius: 3px;
        color: rgba(19, 17, 26, 0.8);
        &:hover{
          opacity: 1;
          color: var(--gray-800);
          background-color: var(--danger-500);
        }
      }
    }
  }
}
  
}

.light-version{
  .nexto-blog-wrap{
    &.nexto-blog-wrap2{
        a.next-readmore-btn{
          color: var(--gray-800);
          span{
            transition: all 0.4s;
            background-color: rgba(19, 17, 26, 0.2);
            &:before {
              content: none;
            }
          }
        }
        &:hover a.next-readmore-btn span{
          background-color: var(--danger-500);
        }
    
    }
  }
}

// blog single

.nexto-single-blog{
  .nexto-breadcrumbs-data{
    max-width: 100%;
    p{
      margin-right: 120px;
      margin-bottom: 30px;
      @include max(767px) {
        margin-right: 40px;
      }
      @include max(479px) {
        margin: 0 0 20px;
      }
    }
  }
}

.nexto-blog-meta {
  ul{
    li{
      margin-right: 20px;
      display: inline-block;
      a{
        font-weight: 600;
        font-size: 18px;
        color: #FFFFFF;
        opacity: 0.4;
        display: flex;
        img{
          margin-right: 10px;
        }
      }
    }
  }
}

.nexto-single-blog-section img{
  margin-bottom: 80px;
  @include max(991px) {
    margin-bottom: 40px;
  }
}

.nexto-blockquote{
  margin: 40px 0;
  @include max(767px) {
    margin: 30px 0;
  }
  blockquote{
    background: rgba(90, 75, 124, 0.2);
    backdrop-filter: blur(400px);
    border-radius: 10px;
    border: 1px solid #fff;
    font-weight: 400;
    letter-spacing: -0.5px;
    padding: 40px;
    position: relative;
    padding: 40px 40px 40px 130px;
    @include max(767px) {
      font-size: 18px;
      line-height: 28px;
    }
    @include max(575px) {
      padding: 30px;
    }
  }
  &-user {
    display: flex;
    align-items: center;
    margin-top: 30px;
      &-thumb{
        width: 60px;
        height: 60px;
        overflow: hidden;
        border-radius: 100%;
        margin-right: 20px;
        img{
          width: 100%;
          height: 100%;
          margin: 0;
          object-fit: cover;
          object-position: center top;
        }
      }
      &-data{
        h4{
          font-size: 20px;
          font-weight: 600;
          margin-bottom: 5px;
          font-family: $body-font;
        }
        p{
          opacity: 0.4;
        }
      }
  }
  &-icon{
    top: 45px;
    left: 40px;
    position: absolute;
    @include max(575px) {
      top: 0;
      left: 0;
      margin-bottom: 20px;
      position: inherit;
    }
    img{
      margin: 0;
    }
  }
}

.next-tags {
  &.next-tags2{
    margin-bottom: 74px;
    @include max(767px) {
      margin-bottom: 34px;
    }
    h4{
      margin-bottom: 30px;
      font-family: $body-font;
    }
  }
}

.nexto-post-navigation {
  &-wrap{
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 80px;
    @include max(991px) {
      margin-bottom: 40px;
    }
    @include max(991px) {
      display: block;
    }
  }
  flex: 0 0 50%;
  display: flex;
  &:hover .nexto-post-navigation-icon:before{
    opacity: 1;
  }
  &-icon{
    width: 60px;
    height: 55px;
    background: #26242C;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    flex-shrink: 0;
    z-index: 0;
    position: relative;
    img{
      margin: 0;
    }
    &:before{
      content: "";
      left: 0;
      top: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      opacity: 0;
      border-radius: 10px;
      position: absolute;
      transition: all 0.4s;
      background: linear-gradient(225deg, #0080FF 0%, #7D41EA 46.35%, #FF00D4 100%);
    }
  }
  &-data{
    p{
      font-size: 20px;
      letter-spacing: -0.5px;
      color: #FFFFFF;
      opacity: 0.8;
      margin-bottom: 15px;
    }
    span{
      display: block;
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
      color: #FFFFFF;
      @include max(1199px) {
        font-size: 20px;
        line-height: 24px;
      }
    }
  }
  &.nav-previous{
    padding-right: 75px;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    @include max(991px) {
      border: none;
      margin-bottom: 20px;
      padding: 0;
    }
  }
  &.nav-next{
    text-align: right;
    padding-left: 20px;
    justify-content: flex-end;
    @include max(991px) {
      padding: 0;
    }
    .nexto-post-navigation-icon{
      margin-left: 20px;
      margin-right: 0;
    }
  }
  
}

.nexto-comment {
  &-wrap{
    margin-bottom: 80px;
    @include max(991px) {
      margin-bottom: 40px;
    }
    h3{
      font-weight: 700;
      font-size: 24px;
      margin-bottom: 30px;
      font-family: $body-font;
    }
  }
 
  &-list{
    background: rgba(90, 75, 124, 0.2);
    backdrop-filter: blur(400px);
    border-radius: 10px;
    padding: 30px;
    li{
      padding-bottom: 24px;
      margin-bottom: 24px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      &:last-child{
        margin-bottom: 0;
        padding: 0;
        border: none;
      }
    }
    li.children{
      padding-left: 100px;
      @include max(991px) {
        padding-left: 0;
      }
      .nexto-comment-author {
        width: 50px;
        height: 50px;
      }
    }
  }
  &-body{
    display: flex;
    position: relative;
    @include max(767px) {
      display: block;
    }
    a.nexto-comment-reply {
      font-weight: 700;
      font-size: 18px;
      line-height: 26px;
      color: #FFFFFF;
      position: absolute;
      top: 0;
      right: 0;
      transition: all 0.4s;
      &:hover{
        color: #7d41ea;
      }
  }
  }
  &-author{
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 100%;
    margin-right: 30px;
    flex-shrink: 0;
    @include max(767px) {
      margin-bottom: 20px;
    }
    img{
      width: 100%;
      height: 100%;
      margin: 0;
      object-fit: cover;
      object-position: center top;
    }
  }
  &-meta{
    h5{
      font-family: $body-font;
      font-weight: 600;
      font-size: 14px;
      margin-bottom: 10px;
    }
    span{
      font-weight: 400;
      font-size: 14px;
      color: #FFFFFF;
      opacity: 0.8;
      display: block;
      margin-bottom: 15px;
    }
    p{
    color: #FFFFFF;
    opacity: 0.8;
    }
  }
}

.nexto-comment-respond-area{
  h3{
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 15px;
    font-family: $body-font;
  }
  p{
    color: #FFFFFF;
    opacity: 0.8;
  }
}

.nexto-comment-field{
  margin-bottom: 24px;
}