{% extends "layout/layout.html" %} {% block content %}

{% include "../templates/layout/header-footer/header-one.html" %} 


<div class="nexto-breadcrumb-section dark-version" style="background-image: url(assets/images/all-img/about/bread-bg.png);">
  <div class="container">
    <div class="nexto-breadcrumb-thumb-top">
      <div class="nexto-breadcrumb-thumb thumb1">
        <img src="assets/images/all-img/about/06.png" alt="">
      </div>
      <div class="nexto-breadcrumb-thumb thumb2">
        <img src="assets/images/all-img/about/07.png" alt="">
      </div>
      <div class="nexto-breadcrumb-thumb thumb3">
        <img src="assets/images/all-img/about/08.png" alt="">
      </div>
      <div class="nexto-breadcrumb-thumb thumb4">
        <img src="assets/images/all-img/about/09.png" alt="">
      </div>
    </div>
    <div class="nexto-breadcrumb-thumb-bottom">
      <div class="nexto-breadcrumb-thumb thumb2">
        <img src="assets/images/all-img/about/01.png" alt="">
      </div>
      <div class="nexto-breadcrumb-thumb thumb3">
        <img src="assets/images/all-img/about/02.png" alt="">
      </div>
      <div class="nexto-breadcrumb-thumb thumb4">
        <img src="assets/images/all-img/about/03.png" alt="">
      </div>
      <div class="nexto-breadcrumb-thumb thumb2">
        <img src="assets/images/all-img/about/04.png" alt="">
      </div>
      <div class="nexto-breadcrumb-thumb thumb3">
        <img src="assets/images/all-img/about/05.png" alt="">
      </div>
    </div>
  </div>
</div>
<!-- End breadcrumb section -->


<p>vgsdfl;gfjsd</p>
<p>vgsdfl;gfjsd</p>
<p>vgsdfl;gfjsd</p>
  

  {% include "../templates/layout/header-footer/footer-one.html" %} 
  
{% endblock %}
