blog light{% extends "layout/layout.html" %} {% block content %}

{% include "../templates/layout/header-footer/header-two.html" %} 

<div class="nexto-blog-section blog-light-version">
  <div class="container">
    <div class="nexto-breadcrumbs-section">
      <div class="nexto-breadcrumbs-data">
        <h1>Blog & Resources</h1>
        <p>Your source of market analysis, news, developments, and project reviews for the NFT ecosystem. Discover and keep up to date with the latest NFT.</p>
      </div>
    </div>
    <!-- End breadcrumb -->

    <div class="nexto-single-blog-section light-version">
      <div class="row">
        <div class="col-lg-8">
          <div class="row">
            <div class="col-md-6">
              <div class="nexto-blog-wrap nexto-blog-wrap2">
                <div class="nexto-blog-thumb">
                  <a href="single-blog-dark.html">
                    <img src="assets/images/all-img/blog/dark/blog14.png" alt="">
                  </a>
                </div>
                <div class="nexto-blog-content">
                  <div class="nexto-blog-date">
                    <ul>
                      <li><a href="">Art & Analusis</a></li>
                      <li><a href="">July 18, 2022</a></li>
                    </ul>
                  </div>
                  <div class="nexto-blog-title">
                    <a href="single-blog-dark.html"><h3>What does the NFT Ecosystem look like after the Boom?</h3></a>
                  </div>
                  <a class="next-readmore-btn" href="#">Read more <span><img src="assets/images/svg/arrow-right-white.svg" alt=""></span> </a>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="nexto-blog-wrap nexto-blog-wrap2">
                <div class="nexto-blog-thumb">
                  <a href="single-blog-dark.html">
                    <img src="assets/images/all-img/blog/dark/blog7.png" alt="">
                  </a>
                </div>
                <div class="nexto-blog-content">
                  <div class="nexto-blog-date">
                    <ul>
                      <li><a href="">Art & Analusis</a></li>
                      <li><a href="">July 18, 2022</a></li>
                    </ul>
                  </div>
                  <div class="nexto-blog-title">
                    <a href="single-blog-dark.html"><h3>Mekaverse Launch: Let’s take a step back with data!</h3></a>
                  </div>
                  <a class="next-readmore-btn" href="#">Read more <span><img src="assets/images/svg/arrow-right-white.svg" alt=""></span> </a>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="nexto-blog-wrap nexto-blog-wrap2">
                <div class="nexto-blog-thumb">
                  <a href="single-blog-dark.html">
                    <img src="assets/images/all-img/blog/dark/blog8.png" alt="">
                  </a>
                </div>
                <div class="nexto-blog-content">
                  <div class="nexto-blog-date">
                    <ul>
                      <li><a href="">Art & Analusis</a></li>
                      <li><a href="">July 18, 2022</a></li>
                    </ul>
                  </div>
                  <div class="nexto-blog-title">
                    <a href="single-blog-dark.html"><h3>We’ve valued one of the best NFT portfolios in the world!</h3></a>
                  </div>
                  <a class="next-readmore-btn" href="#">Read more <span><img src="assets/images/svg/arrow-right-white.svg" alt=""></span> </a>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="nexto-blog-wrap nexto-blog-wrap2">
                <div class="nexto-blog-thumb">
                  <a href="single-blog-dark.html">
                    <img src="assets/images/all-img/blog/dark/blog9.png" alt="">
                  </a>
                </div>
                <div class="nexto-blog-content">
                  <div class="nexto-blog-date">
                    <ul>
                      <li><a href="">Art & Analusis</a></li>
                      <li><a href="">July 18, 2022</a></li>
                    </ul>
                  </div>
                  <div class="nexto-blog-title">
                    <a href="single-blog-dark.html"><h3>The distribution of players on blockchain gaming</h3></a>
                  </div>
                  <a class="next-readmore-btn" href="#">Read more <span><img src="assets/images/svg/arrow-right-white.svg" alt=""></span> </a>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="nexto-blog-wrap nexto-blog-wrap2">
                <div class="nexto-blog-thumb">
                  <a href="single-blog-dark.html">
                    <img src="assets/images/all-img/blog/dark/blog10.png" alt="">
                  </a>
                </div>
                <div class="nexto-blog-content">
                  <div class="nexto-blog-date">
                    <ul>
                      <li><a href="">Art & Analusis</a></li>
                      <li><a href="">July 18, 2022</a></li>
                    </ul>
                  </div>
                  <div class="nexto-blog-title">
                    <a href="single-blog-dark.html"><h3>Celebrities and NFTs: what’s all the hype about?</h3></a>
                  </div>
                  <a class="next-readmore-btn" href="#">Read more <span><img src="assets/images/svg/arrow-right-white.svg" alt=""></span> </a>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="nexto-blog-wrap nexto-blog-wrap2">
                <div class="nexto-blog-thumb">
                  <a href="single-blog-dark.html">
                    <img src="assets/images/all-img/blog/dark/blog11.png" alt="">
                  </a>
                </div>
                <div class="nexto-blog-content">
                  <div class="nexto-blog-date">
                    <ul>
                      <li><a href="">Art & Analusis</a></li>
                      <li><a href="">July 18, 2022</a></li>
                    </ul>
                  </div>
                  <div class="nexto-blog-title">
                    <a href="single-blog-dark.html"><h3>What’s coming next after the rescue of the MoonCats?</h3></a>
                  </div>
                  <a class="next-readmore-btn" href="#">Read more <span><img src="assets/images/svg/arrow-right-white.svg" alt=""></span> </a>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="nexto-blog-wrap nexto-blog-wrap2">
                <div class="nexto-blog-thumb">
                  <a href="single-blog-dark.html">
                    <img src="assets/images/all-img/blog/dark/blog12.png" alt="">
                  </a>
                </div>
                <div class="nexto-blog-content">
                  <div class="nexto-blog-date">
                    <ul>
                      <li><a href="">Art & Analusis</a></li>
                      <li><a href="">July 18, 2022</a></li>
                    </ul>
                  </div>
                  <div class="nexto-blog-title">
                    <a href="single-blog-dark.html"><h3>The Matrix NFT Avatars are coming to Nifty’s!</h3></a>
                  </div>
                  <a class="next-readmore-btn" href="#">Read more <span><img src="assets/images/svg/arrow-right-white.svg" alt=""></span> </a>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="nexto-blog-wrap nexto-blog-wrap2">
                <div class="nexto-blog-thumb">
                  <a href="single-blog-dark.html">
                    <img src="assets/images/all-img/blog/dark/blog13.png" alt="">
                  </a>
                </div>
                <div class="nexto-blog-content">
                  <div class="nexto-blog-date">
                    <ul>
                      <li><a href="">Art & Analusis</a></li>
                      <li><a href="">July 18, 2022</a></li>
                    </ul>
                  </div>
                  <div class="nexto-blog-title">
                    <a href="single-blog-dark.html"><h3>Our NFT Market Report Q1 2022 is published</h3></a>
                  </div>
                  <a class="next-readmore-btn" href="#">Read more <span><img src="assets/images/svg/arrow-right-white.svg" alt=""></span> </a>
                </div>
              </div>
            </div>
          </div>
          <div class="nexto-pagination nexto-pagination2">
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item">
                  <a class="page-link" href="#">
                    
                    <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M11.8333 1.58301L18.25 7.99967M18.25 7.99967L11.8333 14.4163M18.25 7.99967L1.75 7.99967" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <span>
                      Prev 
                    </span>
                  </a>
                </li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#">
                    <span>
                      Next 
                    </span>
                    <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.8333 1.58301L18.25 7.99967M18.25 7.99967L11.8333 14.4163M18.25 7.99967L1.75 7.99967" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                   </a>
                  </li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="nexto-blog-sidebar">
            <div class="nexto-blog-sidebar-item">
              <div class="nexto-newsletter nexto-search">
                <input type="email" placeholder="Search...">
                <button type="submit" id="nexto-submit-btn">Search</button>
                <button id="nexto-search-btn"><img src="assets/images/svg/search.svg" alt=""></button>
              </div>
            </div>
            <div class="nexto-blog-sidebar-item">
              <h4>Categories:</h4>
              <div class="next-category">
                <ul>
                  <li><a href="">Art & Analysis (04)</a></li>
                  <li><a href="">Collectible (02)</a></li>
                  <li><a href="">Metaverse (06)</a></li>
                  <li><a href="">Utility (27)</a></li>
                </ul>
              </div>
            </div>
            <div class="nexto-blog-sidebar-item">
              <h4>Latest Posts:</h4>
              <div class="next-blog-post-wrap">
                <div class="next-blog-post-thumb">
                  <a href=""><img src="assets/images/all-img/blog/dark/blog1.png" alt=""></a>
                </div>
                <div class="next-blog-post-data">
                  <a href=""><p>July 27, 2022</p></a>
                  <a href=""><h5>We’ve valued one of the biggest NFT portfolios in the world!</h5></a>
                </div>
              </div>
              <div class="next-blog-post-wrap">
                <div class="next-blog-post-thumb">
                  <a href=""><img src="assets/images/all-img/blog/dark/blog2.png" alt=""></a>
                </div>
                <div class="next-blog-post-data">
                  <a href=""><p>July 27, 2022</p></a>
                  <a href=""><h5>One global or several tiny NFT communities? Traders version</h5></a>
                </div>
              </div>
              <div class="next-blog-post-wrap">
                <div class="next-blog-post-thumb">
                  <a href=""><img src="assets/images/all-img/blog/dark/blog3.png" alt=""></a>
                </div>
                <div class="next-blog-post-data">
                  <a href=""><p>July 27, 2022</p></a>
                  <a href=""><h5>Always be on time on your metaverse event with Dwiss!</h5></a>
                </div>
              </div>
            </div>
            <div class="nexto-blog-sidebar-item">
              <h4>Tags:</h4>
              <div class="next-tags">
                <ul>
                  <li><a href="">NFTs art</a></li>
                  <li><a href="">Cryptocurrency</a></li>
                  <li><a href="">Digital assets</a></li>
                  <li><a href="">Analysis</a></li>
                  <li><a href="">Earning</a></li>
                  <li><a href="">Creative works</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End nexto single blog -->
  </div>
</div>


  {% include "../templates/layout/header-footer/footer-two.html" %} 
  
{% endblock %}
