{% extends "layout/layout.html" %} {% block content %}

{% include "../templates/layout/header-footer/header-two.html" %} 

<div class="nexto-hero-section" style="background-image: url(assets/images/all-img/v2/hero-bg.png)">
  <div id="nexto-counter"></div>
  <div class="container">
      <div class="nexto-hero-content nexto-hero-content2">
        <h1>Discover digital art, collect & sell NFT</h1>
        <p>Nexto is the largest NFT marketplace. There are enough digital artworks available online that make NFTs easier and more efficient for you.</p>
        <div class="nexto-hero-btn-wrap">
          <a class="nexto-btn bg-orange" href="#">View All Collections</a>
        </div>
      </div>
  </div>
</div>
<!-- End nexto-hero-section -->

<div class="nexto-text-slider-section nexto-text-slider-section2">
  <div class="nexto-text-slider">
    <div class="nexto-text-slider-data">
      <div class="nexto-text-slider-icon">
        <img src="assets/images/all-img/v2/star.png" alt="">
      </div>
      <h3>COLLECT RARE AND EXTRAORDINARY ARTWORK</h3>
    </div>
    <div class="nexto-text-slider-data">
      <div class="nexto-text-slider-icon">
        <img src="assets/images/all-img/v2/star.png" alt="">
      </div>
      <h3>COLLECT RARE AND EXTRAORDINARY ARTWORK</h3>
    </div>
    <div class="nexto-text-slider-data">
      <div class="nexto-text-slider-icon">
        <img src="assets/images/all-img/v2/star.png" alt="">
      </div>
      <h3>COLLECT RARE AND EXTRAORDINARY ARTWORK</h3>
    </div>
   
</div>
</div>
<!-- End nexto text slider section -->


  {% include "../templates/layout/header-footer/footer-two.html" %} 
  
{% endblock %}
