{% extends "layout/layout.html" %} {% block content %}

{% include "../templates/layout/header-footer/header-three.html" %} 

<div class="nexto-hero-section3" style="background-image: url(assets/images/all-img/v3/hero-bg.png)">
  <div id="nexto-counter"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <div class="nexto-hero-content nexto-hero-content3">
          <h1>Discover the latest digital art and collect NFTs</h1>
          <p>The largest NFT marketplace. We make NFTs easier and more efficient for culture and creativity, built efficiently for you.</p>
          <div class="nexto-hero-btn-wrap">
            <a class="nexto-btn bg-gray" href="#">Get Started</a>
            <a class="nexto-btn bg-gray" href="#">View Artwork</a>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="nexto-hero-thumb">
          <img src="assets/images/all-img/hero-thumb.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End nexto-hero-section -->

{% include "../templates/layout/header-footer/footer-three.html" %} 
  
{% endblock %}