{% extends "layout/layout.html" %} {% block content %}

  {% include "../templates/layout/header-footer/app-header.html" %} 


  <div class="nexto-hero-section" style="background-image: url(/assets/images/all-img/hero-bg.png)">
    <div id="nexto-counter"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <div class="nexto-hero-content">
            <h1>Discover the latest digital art and collect NFTs</h1>
            <p>The largest NFT marketplace. We make NFTs easier and more efficient for culture and creativity, built efficiently for you.</p>
            <div class="nexto-hero-btn-wrap">
              <a class="nexto-btn bg-gray" href="#">Get Started</a>
              <a class="nexto-btn bg-gray" href="#">View Artwork</a>
            </div>
            <div class="nexto-counter-wrap">
                <div class="nexto-counter-data">
                  <h2><span data-percentage="45" class="nexto-counter"></span><strong>K</strong></h2>
                  <p>Artwork</p>
                </div>
                <div class="nexto-counter-data">
                  <h2><span data-percentage="86" class="nexto-counter"></span><strong>K</strong></h2>
                  <p>Auction</p>
                </div>
                <div class="nexto-counter-data">
                  <h2><span data-percentage="32" class="nexto-counter"></span><strong>K</strong></h2>
                  <p>Artist</p>
                </div>
              </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="nexto-hero-thumb">
            <img src="assets/images/all-img/hero-thumb.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End nexto-hero-section -->
  
  {% include "../templates/layout/header-footer/footer.html" %} 
  
{% endblock %}
