{% extends "layout/layout.html" %} {% block content %}

  {% include "../templates/layout/header-footer/app-header.html" %} 


  <div class="nexto-hero-section" style="background-image: url(/assets/images/all-img/hero-bg.png)">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, incidunt.</h5>
        </div>
        <div class="col-lg-5">
          <div class="nexto-hero-thumb">
            <img src="assets/images/all-img/hero-thumb.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End nexto-hero-section -->
  
  {% include "../templates/layout/header-footer/footer.html" %} 
  
{% endblock %}
