{% extends "layout/layout.html" %} {% block content %}

{% include "../templates/layout/header-footer/app-header.html" %} 


  <div class="nexto-hero-section" style="background-image: url(/assets/images/all-img/hero-bg.png)">
    <div id="nexto-counter"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <div class="nexto-hero-content">
            <h1>Discover the latest digital art and collect NFTs</h1>
            <p>The largest NFT marketplace. We make NFTs easier and more efficient for culture and creativity, built efficiently for you.</p>
            <div class="nexto-hero-btn-wrap">
              <a class="nexto-btn bg-gray" href="#">Get Started</a>
              <a class="nexto-btn bg-gray" href="#">View Artwork</a>
            </div>
            <div class="nexto-counter-wrap">
                <div class="nexto-counter-data">
                  <h2><span data-percentage="45" class="nexto-counter"></span><strong>K</strong></h2>
                  <p>Artwork</p>
                </div>
                <div class="nexto-counter-data">
                  <h2><span data-percentage="86" class="nexto-counter"></span><strong>K</strong></h2>
                  <p>Auction</p>
                </div>
                <div class="nexto-counter-data">
                  <h2><span data-percentage="32" class="nexto-counter"></span><strong>K</strong></h2>
                  <p>Artist</p>
                </div>
              </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="nexto-hero-thumb">
            <img src="assets/images/all-img/hero-thumb.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End nexto-hero-section -->

  <div class="nexto-slider-section nexto-section-padding">
    <div class="container">
      <div class="nexto-section-title">
        <h2>This week's trending collections</h2>
        <p>Some of these upcoming trends could change the way we experience the web, brand products, buy and sell art, even create & experience music.</p>
      </div>
      <div class="nexto-slider-one">
        <div class="nexto-card-wrap">
          <div class="nexto-card-thumb">
            <img src="assets/images/all-img/card1.jpg" alt="">
          </div>
          <div class="nexto-card-data">
            <h3>Meta Frog Club: VIP Sale</h3>
            <p>Pre-sale : 18 May 2023</p>
            <div class="nexto-card-footer">
              <div class="nexto-card-footer-data">
                <span>Mint Price:</span>
                <h4>0.194 ETH</h4>
              </div>
                <a class="nexto-btn btn-sm bg-white" href="#">Place a Bid</a>
            </div>
          </div>
        </div>
        <div class="nexto-card-wrap">
          <div class="nexto-card-thumb">
            <img src="assets/images/all-img/card2.jpg" alt="">
          </div>
          <div class="nexto-card-data">
            <h3>The Exorians Universe</h3>
            <p>Pre-sale : 18 May 2023</p>
            <div class="nexto-card-footer">
              <div class="nexto-card-footer-data">
                <span>Mint Price:</span>
                <h4>0.194 ETH</h4>
              </div>
                <a class="nexto-btn btn-sm bg-white" href="#">Place a Bid</a>
            </div>
          </div>
        </div>
        <div class="nexto-card-wrap">
          <div class="nexto-card-thumb">
            <img src="assets/images/all-img/card3.jpg" alt="">
          </div>
          <div class="nexto-card-data">
            <h3>CryptoPunks 4D (Official)</h3>
            <p>Pre-sale : 18 May 2023</p>
            <div class="nexto-card-footer">
              <div class="nexto-card-footer-data">
                <span>Mint Price:</span>
                <h4>0.194 ETH</h4>
              </div>
                <a class="nexto-btn btn-sm bg-white" href="#">Place a Bid</a>
            </div>
          </div>
        </div>
        <div class="nexto-card-wrap">
          <div class="nexto-card-thumb">
            <img src="assets/images/all-img/card4.jpg" alt="">
          </div>
          <div class="nexto-card-data">
            <h3>The Bees Kingdom</h3>
            <p>Pre-sale : 18 May 2023</p>
            <div class="nexto-card-footer">
              <div class="nexto-card-footer-data">
                <span>Mint Price:</span>
                <h4>0.194 ETH</h4>
              </div>
                <a class="nexto-btn btn-sm bg-white" href="#">Place a Bid</a>
            </div>
          </div>
        </div>
        <div class="nexto-card-wrap">
          <div class="nexto-card-thumb">
            <img src="assets/images/all-img/card3.jpg" alt="">
          </div>
          <div class="nexto-card-data">
            <h3>CryptoPunks 4D (Official)</h3>
            <p>Pre-sale : 18 May 2023</p>
            <div class="nexto-card-footer">
              <div class="nexto-card-footer-data">
                <span>Mint Price:</span>
                <h4>0.194 ETH</h4>
              </div>
                <a class="nexto-btn btn-sm bg-white" href="#">Place a Bid</a>
            </div>
          </div>
        </div>

      </div>
      
    </div>
    <div class="nexto-shape1">
      <img src="assets/images/all-img/shape.png" alt="">
    </div>
  </div>

  {% include "../templates/layout/header-footer/footer-main.html" %} 
  
{% endblock %}
