{% extends "layout/layout.html" %} {% block content %}

{% include "../templates/layout/header-footer/header-one.html" %} 

<div class="nexto-inner-section dark-version team-page">
  <div class="container">
    <div class="nexto-breadcrumbs-section">
      <div class="nexto-breadcrumbs-data center-content">
        <h1>Meet our creative team</h1>
        <p>Meet our expert team who value these relationships. A creative workplace gives the ability to come up with unique solutions to challenges of simply being told what to do.</p>
      </div>
    </div>
    <!-- End breadcrumb -->
    <div class="nexto-team-section nexto-team-two dark-version">
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="nexto-team-wrap">
              <div class="nexto-team-thumb">
                <img src="assets/images/all-img/v2/team1.png" alt="">
              </div>
              <div class="nexto-team-data">
                <h4>Eleanor Pena</h4>
                <p>CEO & 3D Designer</p>
                <div class="nexto-social-icon">
                    <ul>
                        <li><a href=""><img src="assets/images/social/twitter.svg" alt=""></a></li>
                        <li><a href=""><img src="assets/images/social/facebook.svg" alt=""></a></li>
                        <li><a href=""><img src="assets/images/social/instagram.svg" alt=""></a></li>
                        <li><a href=""><img src="assets/images/social/github.svg" alt=""></a></li>
                    </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="nexto-team-wrap">
              <div class="nexto-team-thumb">
                <img src="assets/images/all-img/v2/team2.png" alt="">
              </div>
              <div class="nexto-team-data">
                <h4>Arlene McCoy</h4>
                <p>Marketing Officer</p>
                <div class="nexto-social-icon">
                    <ul>
                        <li><a href=""><img src="assets/images/social/twitter.svg" alt=""></a></li>
                        <li><a href=""><img src="assets/images/social/facebook.svg" alt=""></a></li>
                        <li><a href=""><img src="assets/images/social/instagram.svg" alt=""></a></li>
                        <li><a href=""><img src="assets/images/social/github.svg" alt=""></a></li>
                    </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="nexto-team-wrap">
              <div class="nexto-team-thumb">
                <img src="assets/images/all-img/v2/team3.png" alt="">
              </div>
              <div class="nexto-team-data">
                <h4>Kathryn Murphy</h4>
                <p>Operating Officer</p>
                <div class="nexto-social-icon">
                    <ul>
                        <li><a href=""><img src="assets/images/social/twitter.svg" alt=""></a></li>
                        <li><a href=""><img src="assets/images/social/facebook.svg" alt=""></a></li>
                        <li><a href=""><img src="assets/images/social/instagram.svg" alt=""></a></li>
                        <li><a href=""><img src="assets/images/social/github.svg" alt=""></a></li>
                    </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="nexto-team-wrap">
              <div class="nexto-team-thumb">
                <img src="assets/images/all-img/v2/team4.png" alt="">
              </div>
              <div class="nexto-team-data">
                <h4>Jerome Bell</h4>
                <p>Art Director</p>
                <div class="nexto-social-icon">
                    <ul>
                        <li><a href=""><img src="assets/images/social/twitter.svg" alt=""></a></li>
                        <li><a href=""><img src="assets/images/social/facebook.svg" alt=""></a></li>
                        <li><a href=""><img src="assets/images/social/instagram.svg" alt=""></a></li>
                        <li><a href=""><img src="assets/images/social/github.svg" alt=""></a></li>
                    </ul>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col-lg-3 col-md-6">
            <div class="nexto-team-wrap">
              <div class="nexto-team-thumb">
                <img src="assets/images/all-img/v2/team5.png" alt="">
              </div>
              <div class="nexto-team-data">
                <h4>Theresa Webb</h4>
                <p>Marketing manager</p>
                <div class="nexto-social-icon">
                    <ul>
                        <li><a href=""><img src="assets/images/social/twitter.svg" alt=""></a></li>
                        <li><a href=""><img src="assets/images/social/facebook.svg" alt=""></a></li>
                        <li><a href=""><img src="assets/images/social/instagram.svg" alt=""></a></li>
                        <li><a href=""><img src="assets/images/social/github.svg" alt=""></a></li>
                    </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="nexto-team-wrap">
              <div class="nexto-team-thumb">
                <img src="assets/images/all-img/v2/team6.png" alt="">
              </div>
              <div class="nexto-team-data">
                <h4>Marvin McKinney</h4>
                <p>Senior developer</p>
                <div class="nexto-social-icon">
                    <ul>
                        <li><a href=""><img src="assets/images/social/twitter.svg" alt=""></a></li>
                        <li><a href=""><img src="assets/images/social/facebook.svg" alt=""></a></li>
                        <li><a href=""><img src="assets/images/social/instagram.svg" alt=""></a></li>
                        <li><a href=""><img src="assets/images/social/github.svg" alt=""></a></li>
                    </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="nexto-team-wrap">
              <div class="nexto-team-thumb">
                <img src="assets/images/all-img/v2/team7.png" alt="">
              </div>
              <div class="nexto-team-data">
                <h4>Darrell Steward</h4>
                <p>Senior consultant</p>
                <div class="nexto-social-icon">
                    <ul>
                        <li><a href=""><img src="assets/images/social/twitter.svg" alt=""></a></li>
                        <li><a href=""><img src="assets/images/social/facebook.svg" alt=""></a></li>
                        <li><a href=""><img src="assets/images/social/instagram.svg" alt=""></a></li>
                        <li><a href=""><img src="assets/images/social/github.svg" alt=""></a></li>
                    </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="nexto-team-wrap">
              <div class="nexto-team-thumb">
                <img src="assets/images/all-img/v2/team8.png" alt="">
              </div>
              <div class="nexto-team-data">
                <h4>Devon Lane</h4>
                <p>Art Director</p>
                <div class="nexto-social-icon">
                    <ul>
                        <li><a href=""><img src="assets/images/social/twitter.svg" alt=""></a></li>
                        <li><a href=""><img src="assets/images/social/facebook.svg" alt=""></a></li>
                        <li><a href=""><img src="assets/images/social/instagram.svg" alt=""></a></li>
                        <li><a href=""><img src="assets/images/social/github.svg" alt=""></a></li>
                    </ul>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col-lg-3 col-md-6">
            <div class="nexto-team-wrap">
              <div class="nexto-team-thumb">
                <img src="assets/images/all-img/v2/team9.png" alt="">
              </div>
              <div class="nexto-team-data">
                <h4>Floyd Miles</h4>
                <p>WP Developer</p>
                <div class="nexto-social-icon">
                    <ul>
                        <li><a href=""><img src="assets/images/social/twitter.svg" alt=""></a></li>
                        <li><a href=""><img src="assets/images/social/facebook.svg" alt=""></a></li>
                        <li><a href=""><img src="assets/images/social/instagram.svg" alt=""></a></li>
                        <li><a href=""><img src="assets/images/social/github.svg" alt=""></a></li>
                    </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="nexto-team-wrap">
              <div class="nexto-team-thumb">
                <img src="assets/images/all-img/v2/team10.png" alt="">
              </div>
              <div class="nexto-team-data">
                <h4>Kristin Watson</h4>
                <p>Marketing Officer</p>
                <div class="nexto-social-icon">
                    <ul>
                        <li><a href=""><img src="assets/images/social/twitter.svg" alt=""></a></li>
                        <li><a href=""><img src="assets/images/social/facebook.svg" alt=""></a></li>
                        <li><a href=""><img src="assets/images/social/instagram.svg" alt=""></a></li>
                        <li><a href=""><img src="assets/images/social/github.svg" alt=""></a></li>
                    </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="nexto-team-wrap">
              <div class="nexto-team-thumb">
                <img src="assets/images/all-img/v2/team11.png" alt="">
              </div>
              <div class="nexto-team-data">
                <h4>Jacob Jones</h4>
                <p>Operating Officer</p>
                <div class="nexto-social-icon">
                    <ul>
                        <li><a href=""><img src="assets/images/social/twitter.svg" alt=""></a></li>
                        <li><a href=""><img src="assets/images/social/facebook.svg" alt=""></a></li>
                        <li><a href=""><img src="assets/images/social/instagram.svg" alt=""></a></li>
                        <li><a href=""><img src="assets/images/social/github.svg" alt=""></a></li>
                    </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="nexto-team-wrap">
              <div class="nexto-team-thumb">
                <img src="assets/images/all-img/v2/team12.png" alt="">
              </div>
              <div class="nexto-team-data">
                <h4>Esther Howard</h4>
                <p>Art Director</p>
                <div class="nexto-social-icon">
                    <ul>
                        <li><a href=""><img src="assets/images/social/twitter.svg" alt=""></a></li>
                        <li><a href=""><img src="assets/images/social/facebook.svg" alt=""></a></li>
                        <li><a href=""><img src="assets/images/social/instagram.svg" alt=""></a></li>
                        <li><a href=""><img src="assets/images/social/github.svg" alt=""></a></li>
                    </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="nexto-team-button">
          <a class="nexto-btn bg-gray active" href="#">Join Our Team</a>
        </div>
    </div>
    <!-- End team section -->
  </div>
  <div class="nexto-blog-shape1">
    <img src="assets/images/all-img/shape2.png" alt="">
  </div>
  <div class="nexto-blog-shape3">
    <img src="assets/images/all-img/blog/shape.png" alt="">
  </div>
</div>
<!-- end inner section -->


{% include "../templates/layout/header-footer/footer-one.html" %} 
  
{% endblock %}