.nexto-about-hero-section.dark-version {
  background-size: cover;
  padding: 200px 0 10px;
  background-color: var(--gray-800);
  @include max(575px) {
    padding: 150px 0 10px;
  }
}

.nexto-breadcrumb-thumb {
  overflow: hidden;
  border-radius: 100%;
  animation: zoom-in-zoom-out2 3s ease-out infinite;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
  }
  &-bottom, &-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-top{
    max-width: 873px;
    margin: 0 auto 80px;
    @include max(575px) {
      margin: 0 auto 40px;
    }
  }
  &.thumb1{
    width: 80px;
    height: 80px;
  }
  &.thumb2{
    width: 48px;
    height: 45px;
  }
  &.thumb3{
    width: 60px;
    height: 60px;
  }
  &.thumb4{
    width: 86px;
    height: 80px;
  }
  
}

@keyframes zoom-in-zoom-out2 {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}

.nexto-breadcrumbs-section {
    padding: 210px 0 130px;
    position: relative;
    z-index: 0;
    @include max(479px) {
      padding: 170px 0 75px;
    }
    &.breadcrumbs-dark{
      background-color: var(--gray-800);
    }
}
.nexto-breadcrumbs-data{
  max-width: 770px;
  h1{
    letter-spacing: -1px;
  }
  p{
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.5px;
    @include max(767px) {
      font-size: 18px;
    }
  }
  &.dark-content{
    h1, p{
      color: var(--gray-800);
    }
  }
  &.center-content{
    margin: 0 auto;
    text-align: center;
    .nexto-newsletter {
      margin-top: 40px;
  }
  }
}

.nexto-blog-shape1 {
  top: 0;
  z-index: -1;
  position: absolute;
}