
/* card */
.nexto-card {
  &-wrap{
    border-radius: 10px;
    padding: 20px;
    transition: all 0.4s;
    position: relative;
    background: #201C2C; 
    box-shadow: 0 0 0 1px white;
    &:hover{
      box-shadow: 0 0 0 1px rgba(255, 255, 255, 0);
    } 
    &:hover:before{
      opacity: 1;
    }
    &:hover::after{
      opacity: 0;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      margin: -1px;
      opacity: 0;
      transition: all 0.4s;
      border-radius: inherit;
      background: linear-gradient(to right, #FF00D4 , #7D41EA, #0080FF );
    }
    &:hover .nexto-btn:before{
      color: var(--gray-10);
      opacity: 1;
    }
    &:hover .nexto-btn{
      color: var(--gray-10);
    }
  }
  &-thumb{
    img{
      width: 100%;
      object-fit: cover;
      object-position: center top;
      border-radius: 10px;
    }
  }
  &-data{
    margin-top: 20px;
    h3{
      font-weight: 600;
      font-size: 20px;
      line-height: 28px;
      color: var(--gray-10);
      margin: 0 0 10px;
      font-family: $body-font;
    }
    p{
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      color: var(--gray-10);
      opacity: 0.4;
      margin: 0;
    }
  }
  &-footer{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-data{
      span{
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        color: var(--gray-10);
      }
      h4{
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
        color: var(--gray-10);
        margin: 0;
        font-family: $body-font;
      }
    }
    .nexto-btn{
      min-width: inherit;
    }
  }
}





