.nexto-iconbox {
  &-wrap{
    z-index: 0;
    padding: 0 15px;
    text-align: center;
    position: relative;
    margin-bottom: 24px;
    @include max(1400px) {
      padding: 0;
    }
    &:before{
      content: " ";
      right: -68px;
      top: 106px;
      width: 108px;
      height: 2px;
      z-index: -1;
      position: absolute;
      background-image: url("../images/all-img/line.png");
    }
  }
  &-thumb{
    margin-bottom: 30px;
  }
  &-data{
    h4{
      font-weight: 600;
      font-size: 24px;
      margin-bottom: 15px;
      font-family: $body-font;
      display: inline-block;
      padding: 0 10px;
      background-color: var(--gray-800);
    }
    p{
      color: #FFFFFF;
      opacity: 0.8;
      &:last-child{
        margin: 0;
      }
    }
  }
 
}

.nexto-roadmap-section{
  .col-xl-3.col-md-6{
    &:nth-child(4){
    .nexto-iconbox-wrap{
        &:before{
          content: none;
        }
      }
    }
    @include max(1199px) {
      &:nth-child(2){
        .nexto-iconbox-wrap{
            &:before{
              content: none;
            }
          }
        }
    }
  }
  @include max(767px) {
    .nexto-iconbox-wrap{
        &:before{
          content: none;
        }
    }
  }
}


// icon box v2.0
.nexto-roadmap-v2{
  .nexto-iconbox{
    &-wrap{
      text-align: left;
      padding: 0;
      padding-right: 30px;
      &:before{
        content: none;
      }
    }
    &-data{
      h4{
        padding: 0;
        margin-bottom: 20px;
        color: var(--gray-800);
        background-color: transparent;
      }
      span{
        font-weight: 600;
        font-size: 18px;
        display: block;
        margin-bottom: 10px;
        color: var(--gray-800);
      }
      p{
        font-size: 16px;
        line-height: 24px;
        color: var(--gray-800);
        opacity: 0.8;
      }
    }
  }
}

// iconbox v3
.nexto-iconbox-wrap3{
    padding: 40px;
    border-radius: 3px;
    background: linear-gradient(118.28deg, #17181A -8.97%, #636675 141.84%);
    @include max(991px) {
      padding: 30px;
    }
    &:before {
      content: none;
    }
    &:hover .nexto-iconbox-thumb{
      background-color: var(--gray-10);
    }
    &:hover .nexto-iconbox-thumb{
      path{
        fill: var(--primary-500);
      }
      
    }
    .nexto-iconbox{
      &-thumb{
        width: 80px;
        height: 80px;
        display: flex;
        align-items: center;
        border-radius: 100%;
        margin: 0 auto 30px;
        justify-content: center;
        transition: all 0.4s;
        background-color: var(--primary-500);
        path{
          transition: all 0.4s;
        }
      }
      &-data{
        h4{
          padding: 0;
          background-color: transparent;
        }
      }
    }
}

.nexto-iconbox-wrap4{
  border-radius: 10px;
  border: 1px solid var(--gray-10);
  background: rgba(90, 75, 124, 0.2);
  .nexto-iconbox{
    &-thumb{
      background: linear-gradient(0deg, #ADDCFF 0%, #EAF6FF 50.28%, #EAF6FF 100%);
    }
  
  }
}

.nexto-iconbox-wrap5{
  background: #211D2E;
border-radius: 10px;
  .nexto-iconbox{
    &-thumb{
      background: linear-gradient(225deg, #0080FF 0%, #7D41EA 46.35%, #FF00D4 100%);
    }
  &-data{
    a{
      font-weight: 700;
      font-size: 16px;
      color: #FFFFFF;
      img{
        margin-left: 10px;
      }
    }
  }
  }
}
