.nexto-video-section {
  background-position: center center;
  background-repeat: no-repeat;
  background-color: var(--gray-800);
  .nexto-btn-wrap {
      margin: 45px 0 0;
  }
  .nexto-default-content {
    padding-left: 30px;
    @include max(1400px) {
      padding: 0;
    }
}
}

.nexto-video-thumb{
  position: relative;
  margin-right: 50px;
  border-radius: 3px;
  @include max(1199px) {
    margin: 30px 0 0;
  }
  img{
    border-radius: 3px;
    width: 100%;
  }
  .nexto-popup {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      @include max(767px) {
        width: 60px;
        height: 60px;
      }
  }
}

.waves {
  position: absolute;
  width: 150px;
  height: 150px;
  background: rgba(255, 255, 255, 0.7);
  opacity: 0;
  border-radius: 100%;
  left: -35px;
  top: -35px;
  z-index: 0;
  -webkit-animation: waves 3s ease-in-out infinite;
  animation: waves 3s ease-in-out infinite;
  z-index: -1;
  @include max(767px) {
    width: 130px;
    height: 130px;
  }
  &.wave-1 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
  }
  &.wave-2 {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
  }
  &.wave-3 {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
  }
}


@keyframes waves {
  0% {
      -webkit-transform: scale(0.2, 0.2);
      transform: scale(0.2, 0.2);
      opacity: 0;
  }

  50% {
      opacity: 0.9;
  }

  100% {
      -webkit-transform: scale(0.9, 0.9);
      transform: scale(0.9, 0.9);
      opacity: 0;
  }
}

// video section about pages


.nexto-video {
  &-wrap{
    position: relative;
      .nexto-popup {
        position: absolute;
        top: 43%;
        left: 52%;
        transform: translate(-50%, -50%);
        img{
          -webkit-animation: rotate-animation 10s infinite linear;
        -moz-animation: rotate-animation 10s infinite linear;
        -o-animation: rotate-animation 10s infinite linear;
        animation: rotate-animation 10s infinite linear;
        &:hover{
          -webkit-animation-play-state:paused;
          -moz-animation-play-state:paused;
          -o-animation-play-state:paused;
          animation-play-state:paused;
        }
        }
        @include max(1199px) {
          width: 120px;
          height: 120px;
        }
        @include max(991px) {
          width: 100px;
          height: 100px;
        }
        @include max(767px) {
          width: 75px;
          height: 75px;
          left: 50%;
        }
        @include max(479px) {
          width: 55px;
          height: 55px;
          top: 40%;
        }
    }
  }
  &-column{
    display: flex;
    .nexto-video-thumb{
      margin-right: 30px;
      @include max(1199px) {
        margin: 0;
        margin-right: 20px;
      }
      &:last-child{
        margin-right: 0;
        padding-top: 115px;
        @include max(991px) {
          padding-top: 80px;
        }
        @include max(767px) {
          padding-top: 0;
        }
      }
    }
  }
  
}
.nexto-play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  img{
    animation: none !important;
  }
}
@keyframes rotate-animation {
	0% {
		transform: rotate(0deg);
  }
  50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}