.nexto-circle-shape{
  z-index: 0;
  z-index: -1;
  position: absolute;
  .waves {
    background: rgba(44, 4, 254, 0.15);

    &.wave-1 {
      -webkit-animation-delay: 0s;
      animation-delay: 0s;
    }
  }
  &.circle-one{
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
  }
  &.circle-two{
    left: 45px;
    bottom: 30%;
  }
  &.circle-three{
    top: -23%;
    right: 0;
  }
  &.circle-four{
    bottom: 25%;
    left: 70px;
  }
  &.circle-five{
    left: 10%;
    top: 34%;
  }
  &.circle-six{
    left: 35%;
    top: 0%;
  }
  &.circle-seven{
    right: 20%;
    bottom: 10%;
  }
  &.circle-eight{
    top: 20%;
    left: 5%;
  }
  &.circle-nine{
    bottom: 18%;
    right: 3%;
  }
  
}

