
footer.nexto-footer-section{
  background-color: var(--gray-800);
}
.nexto-footer-top {
  padding: 130px 0 60px;
  border-bottom: 1px solid var(--gray-700);
  @include max(991px){
    padding: 100px 0 60px;
  }
  @include max(767px){
    padding: 80px 0 60px;
  }
  @include max(575px){
    padding: 80px 0 30px;
  }
}
.nexto-textarea{
  @include max(991px){
    margin-bottom: 30px;
  }
  .nexto-footer-logo{
    margin-bottom: 30px;
  }
  p{
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    opacity: 0.6;
  }
}
.nexto-social-icon{
  margin-top: 30px;
  ul{
    li{
      margin: 0 7px;
      display: inline-block;
      &:first-child{
        margin-left: 0;
      }
      &:last-child{
        margin-right: 0;
      }
      a{
        width: 30px;
        height: 30px;
        display: flex;
        z-index: 0;
        border-radius: 100%;
        align-items: center;
        position: relative;
        overflow: hidden;
        justify-content: center;
        background-color: var(--gray-900);
        &:before{
          content: " ";
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          z-index: -1;
          opacity: 0;
          transition: all 0.4s;
          position: absolute;
          background: linear-gradient(225deg, #0080FF 0%, #7D41EA 46.35%, #FF00D4 100%);
        }
        &:hover::before{
          opacity: 1;
        }
      }
    }
  }
}
.nexto-footer-menu{
  @include max(575px){
    margin-bottom: 30px;
  }
  span{
    font-weight: 600;
    font-size: 20px;
    line-height: 1;
    margin-bottom: 30px;
    display: block;
  }
  ul{
    li{
      margin-bottom: 6px;
      &:last-child{
        margin-bottom: 0;
      }
      a{
        font-size: 18px;
        opacity: 0.6;
        color: var(--gray-10);
        transition: all 0.4s;
        &:hover{
          opacity: 1;
          padding-left: 10px;
        }
      }
    }
  }
}

.nexto-footer-bottom {
  display: flex;
  justify-content: center;
  padding: 35px 0;
  @include max(767px){
    display: block;
    text-align: center
  }
  p{
    font-size: 16px;
    color: #FFFFFF;
    opacity: 0.6;
    margin: 0;
    margin-right: 40px;
    @include max(767px){
      margin: 0 0 20px;
    }
  }
  .nexto-footer-menu{
    @include max(575px){
      margin-bottom: 0;
    }
    ul{
      li{
        padding-right: 20px;
        display: inline-block;
        position: relative;
        &::after{
          content: " ";
          top: 10px;
          right: 5px;
          border-radius: 50%;
          width: 5px;
          height: 5px;
          position: absolute;
          background: #FFFFFF;
          opacity: 0.8;
        }
        &:last-child:after{
          content: none;
        }
        a{
          font-size: 16px;
          &:hover{
            padding: 0;
          }
        }
      }
    }
  }
}

// footer two
footer.nexto-foote2-section {
  background-size: cover;
  background-position: center;
  .nexto-footer-top{
    padding: 120px 0;
    border: none;
    @include max(991px) {
      padding: 80px 0;
    }
    @include max(767px) {
      padding: 60px 0;
    }
  }
  .nexto-default-content {
    max-width: 590px;
    text-align: center;
    margin: 0 auto;
    position: relative;
  }
  .nexto-btn-wrap{
    margin: 35px 0 0;
  }
}
.nexto-star {
  position: absolute;
  top: -12px;
  right: -40px;
  -webkit-animation: float 3s ease-in-out infinite;
  animation: float 3s ease-in-out infinite;
  @include max(767px) {
    display: none;
  }
}


.nexto-footer-middle{
  padding-bottom: 35px;
  border-bottom: 1px solid var(--gray-800);
  .nexto-footer-logo{
    @include max(991px) {
      text-align: center;
      margin-bottom: 15px;
    }
  }
}
.nexto-footer-menu2{
  text-align: center;
  ul{
    li{
      margin: 0 15px;
      display: inline-block;
      &:first-child{
        margin-left: 0;
      }
      &:last-child{
        margin-right: 0;
      }
      a{
        font-weight: 600;
        color: var(--gray-800);
        transition: all 0.4s;
        &:hover{
          color: var(--danger-500);
        }
      }
    }
  }
}
.nexto-social-icon.nexto-social-icon2 {
  text-align: right;
  margin: 0;
  @include max(991px) {
    text-align: center;
    margin-top: 15px;
  }
  ul{
    li{
      a{
        &:hover{
          background: var(--danger-500);
        }
        &:hover:before{
          content: none;
        }
      }
    }
  }
}

.nexto-footer-bottom.nexto-footer-bottom2{
  display: block;
  @include max(991px) {
    text-align: center;
  }
  p{
    color: var(--gray-800);
    margin: 0;
  }
  .nexto-footer-menu{
    text-align: right;
    @include max(991px) {
      text-align: center;
      margin-top: 15px;
    }
    ul{
      li{
        a{
          color: var(--gray-800);
        }
        &::after{
          opacity: 0.6;
          background-color: var(--gray-800);
        }
      }
    }
  }
}

// footer three
.nexto-social-icon.nexto-social-icon3 {
  ul{
    li{
      a{
        &:hover{
          background: var(--primary-500);
        }
        &:hover:before{
          content: none;
        }
      }
    }
  }
  
}

.nexto-footer-bottom3{
  display: block;
  p{
    margin: 0;
  }
  .nexto-footer-menu{
    text-align: right;
    @include max(991px) {
      text-align: center;
      margin-top: 15px;
    }
  }
}

.nexto-info{
  ul{
    li{
      padding-left: 32px;
      position: relative;
      margin-bottom: 18px;
      &:last-child{
        margin-bottom: 0;
      }
      a{
        font-size: 16px;
        color: rgba(255, 255, 255, 0.6);
        img{
          left: 0;
          top: 6px;
          position: absolute;
        }
      }
    }
  }
}