<!-- Footer  -->

<footer class="nexto-footer-section">
  <div class="container">
      <div class="nexto-footer-top">
          <div class="row">
              <div class="col-lg-3">
                  <div class="nexto-textarea">
                      <div class="nexto-footer-logo">
                          <img src="assets/images/logo/logo3.svg" alt="" class="light-version-logo">
                      </div>
                      <p>Discover NFTs by category, track the latest drops, and follow the collections you love to enjoy it!</p>
                      <div class="nexto-social-icon nexto-social-icon3">
                          <ul>
                              <li><a href=""><img src="assets/images/social/twitter.svg" alt=""></a></li>
                              <li><a href=""><img src="assets/images/social/facebook.svg" alt=""></a></li>
                              <li><a href=""><img src="assets/images/social/instagram.svg" alt=""></a></li>
                              <li><a href=""><img src="assets/images/social/github.svg" alt=""></a></li>
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="col-lg-2 offset-lg-1 col-md-4 col-sm-4">
                  <div class="nexto-footer-menu">
                      <span>Marketplace</span>
                      <ul>
                          <li><a href="">Create A Store</a></li>
                          <li><a href="">Start Selling</a></li>
                          <li><a href="">My Account</a></li>
                          <li><a href="">Job</a></li>
                          <li><a href="">List a Item</a></li>
                      </ul>
                  </div>
              </div>
              <div class="col-lg-2 offset-lg-1 col-md-4 col-sm-4">
                  <div class="nexto-footer-menu">
                      <span>Marketplace</span>
                      <ul>
                          <li><a href="">Art</a></li>
                          <li><a href="">Digital Art</a></li>
                          <li><a href="">Photography</a></li>
                          <li><a href="">Games</a></li>
                          <li><a href="">Music</a></li>
                      </ul>
                  </div>
              </div>
              <div class="col-lg-2 offset-lg-1 col-md-4 col-sm-4">
                  <div class="nexto-footer-menu">
                      <span>Marketplace</span>
                  </div>
                  <div class="nexto-info">
                    <ul>
                        <li><a href=""><img src="assets/images/svg/phone.svg" alt="">+088-234-6534</a></li>
                        <li><a href=""><img src="assets/images/svg/mail.svg" alt="">example@gmail.com</a></li>
                        <li><a href=""><img src="assets/images/svg/map.svg" alt="">6391 Elgin St. Celina, New York City.</a></li>
                    </ul>
                  </div>
              </div>
          </div>
      </div>
      <div class="nexto-footer-bottom nexto-footer-bottom3">
        <div class="row">
          <div class="col-lg-6">
            <p>&copy; Copyright 2022, All Rights Reserved by Mthemeus</p>
          </div>
          <div class="col-lg-6">
            <div class="nexto-footer-menu">
                <ul>
                    <li><a href="">Terms</a></li>
                    <li><a href=""> Privacy Policy</a></li>
                </ul>
            </div>
          </div>
        </div>
      </div>
  </div>
</footer>