<!-- Footer  -->

<footer class="nexto-foote2-section" style="background-image: url('assets/images/all-img/v2/footer-bg.png')">
  <div class="container">
      <div class="nexto-footer-top">
          <div class="nexto-default-content content-black">
            <h2>Join our NFTs community</h2>
            <p>Meet artists & collectors for platform updates and get dozens of our extraordinary art collections in the world’s largest NFT marketplace.</p>
            <div class="nexto-btn-wrap">
              <a class="nexto-btn bg-orange" href="#">Join Our Discord</a>
            </div>
            <div class="nexto-star">
              <img src="assets/images/all-img/v2/star-black.png" alt="">
            </div>
          </div>
      </div>
      <div class="nexto-footer-middle">
        <div class="row">
          <div class="col-xl-3 col-lg-2">
            <div class="nexto-footer-logo">
              <img src="assets/images/logo/logo2.svg" alt="">
            </div>
          </div>
          <div class="col-xl-6 col-lg-8">
            <div class="nexto-footer-menu2">
              <ul>
                <li><a href="">Demos</a></li>
                <li><a href="">About Us</a></li>
                <li><a href="">Collections</a></li>
                <li><a href="">Pages</a></li>
                <li><a href="">Contact</a></li>
              </ul>
            </div>
          </div>
          <div class="col-xl-3 col-lg-2">
            <div class="nexto-social-icon nexto-social-icon2">
              <ul>
                  <li><a href=""><img src="assets/images/social/twitter.svg" alt=""></a></li>
                  <li><a href=""><img src="assets/images/social/facebook.svg" alt=""></a></li>
                  <li><a href=""><img src="assets/images/social/github.svg" alt=""></a></li>
              </ul>
          </div>
          </div>
        </div>
      </div>
      <div class="nexto-footer-bottom nexto-footer-bottom2">
        <div class="row">
          <div class="col-lg-6">
            <p>&copy; Copyright 2022, All Rights Reserved by Mthemeus</p>
          </div>
          <div class="col-lg-6">
            <div class="nexto-footer-menu">
                <ul>
                    <li><a href="">Terms</a></li>
                    <li><a href=""> Privacy Policy</a></li>
                </ul>
            </div>
          </div>
        </div>
      </div>
  </div>
</footer>