<header class="site-header site-header--menu-right nexto-header-section nexto-header-one" id="sticky-menu">
  <div class="container-fluid">
    <nav class="navbar site-navbar">
      <!-- Brand Logo-->
      <div class="brand-logo">
        <a href="index.html">
          <img src="assets/images/logo/logo1.svg" alt="" class="light-version-logo">
        </a>
      </div>
      <div class="menu-block-wrapper">
        <div class="menu-overlay"></div>
        <nav class="menu-block" id="append-menu-header">
          <div class="mobile-menu-head">
            <div class="go-back">
              <i class="fa fa-angle-left"></i>
            </div>
            <div class="current-menu-title"></div>
            <div class="mobile-menu-close">&times;</div>
          </div>
          <ul class="site-menu-main">
            <li class="nav-item nav-item-has-children">
              <a href="#" class="nav-link-item drop-trigger">Home <i
                  class="fas fa-angle-down"></i></a>
              <ul class="sub-menu" id="submenu-1">
                <li class="sub-menu--item">
                  <a href="index.html">Home 01</a>
                </li>
                <li class="sub-menu--item">
                  <a href="index-2.html">Home 02</a>
                </li>
                <li class="sub-menu--item">
                  <a href="index-3.html">Home 03</a>
                </li>
              </ul>
            </li>
            <li class="nav-item nav-item-has-children">
              <a href="#" class="nav-link-item drop-trigger">Pages <i class="fas fa-angle-down"></i>
              </a>
              <ul class="sub-menu" id="submenu-2">
                <li class="sub-menu--item nav-item-has-children">
                  <a href="#" data-menu-get="h3" class="drop-trigger">About<i
                      class="fas fa-angle-down"></i>
                  </a>
                  <ul class="sub-menu shape-none" id="submenu-3">
                    <li class="sub-menu--item">
                      <a href="about-dark.html">About Dark</a>
                    </li>
                    <li class="sub-menu--item">
                      <a href="about-light.html">About Light</a>
                    </li>
                  </ul>
                </li>
                <li class="sub-menu--item nav-item-has-children">
                  <a href="#" data-menu-get="h3" class="drop-trigger">blog dark<i
                      class="fas fa-angle-down"></i>
                  </a>
                  <ul class="sub-menu shape-none" id="submenu-3">
                    <li class="sub-menu--item">
                      <a href="blog-dark.html">blog dark</a>
                    </li>
                    <li class="sub-menu--item">
                      <a href="blog-dark-sidebar.html">blog dark sidebar</a>
                    </li>
                  </ul>
                </li>
                <li class="sub-menu--item nav-item-has-children">
                  <a href="#" data-menu-get="h3" class="drop-trigger">blog light<i
                      class="fas fa-angle-down"></i>
                  </a>
                  <ul class="sub-menu shape-none" id="submenu-3">
                    <li class="sub-menu--item">
                      <a href="blog-light.html">blog light</a>
                    </li>
                    <li class="sub-menu--item">
                      <a href="blog-light-sidebar.html">blog light sidebar</a>
                    </li>
                  </ul>
                </li>
                <li class="sub-menu--item nav-item-has-children">
                  <a href="#" data-menu-get="h3" class="drop-trigger">Service<i
                      class="fas fa-angle-down"></i>
                  </a>
                  <ul class="sub-menu shape-none" id="submenu-4">
                    <li class="sub-menu--item">
                      <a href="service.html">service</a>
                    </li>
                    <li class="sub-menu--item">
                      <a href="single-service.html">service detalis</a>
                    </li>
                  </ul>
                </li>
                <li class="sub-menu--item nav-item-has-children">
                  <a href="#" data-menu-get="h3" class="drop-trigger">Portfolio<i
                      class="fas fa-angle-down"></i>
                  </a>
                  <ul class="sub-menu shape-none" id="submenu-5">
                    <li class="sub-menu--item">
                      <a href="portfolio1.html">Portfolio</a>
                    </li>
                    <li class="sub-menu--item">
                      <a href="single-portfolio.html">Portfolio detalis</a>
                    </li>
                  </ul>
                </li>
                <li class="sub-menu--item nav-item-has-children">
                  <a href="#" data-menu-get="h3" class="drop-trigger">Careers<i
                      class="fas fa-angle-down"></i>
                  </a>
                  <ul class="sub-menu shape-none" id="submenu-6">
                    <li class="sub-menu--item">
                      <a href="careers.html">Careers</a>
                    </li>
                    <li class="sub-menu--item">
                      <a href="single-career.html">Careers Detalis</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="nav-item nav-item-has-children">
              <a href="#" class="nav-link-item drop-trigger">Blog <i
                  class="fas fa-angle-down"></i></a>
              <ul class="sub-menu" id="submenu-7">
                <li class="sub-menu--item">
                  <a href="blog-dark.html">blog dark</a>
                </li>
                <li class="sub-menu--item">
                  <a href="blog-dark-sidebar.html">blog dark sidebar</a>
                </li>
                <li class="sub-menu--item">
                  <a href="blog-light.html">blog light</a>
                </li>
                <li class="sub-menu--item">
                  <a href="blog-light-sidebar.html">blog light sidebar</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a href="contact.html" class="nav-link-item">Contact</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="header-btn header-btn-l1 ms-auto d-none d-xs-inline-flex">
        <a class="nexto-btn nexto-menu-btn1" href="contact.html">
          Connect Wallet
        </a>
      </div>
      <!-- mobile menu trigger -->
      <div class="mobile-menu-trigger">
        <span></span>
      </div>
      <!--/.Mobile Menu Hamburger Ends-->
    </nav>
  </div>
</header>
<!--End landex-header-section -->